body {
    text-align: center;
    background-color: rgb(35, 33, 33);
}

div {
     margin-top: 200px;
     
}
         
h1 {
    color: rgb(240, 255, 243);
    margin-left: 30px;
}

h2 {
    color: rgb(240, 255, 243);
    margin-left: 30px;
}

h4 {
    color: rgb(240, 255, 243);
    margin-left: 30px;
}

ul {
    list-style-type: none;
    color: aliceblue;
  
}

ol {
    list-style-type: none;
    color: aliceblue;
}

a {
    color: black;
    
}
button {
    background-color: aliceblue;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
        }

.weight {
    font-weight: 600;
    color: rgb(238, 211, 162);
}